{% extends 'index.html' %}
{% block content %}
<section>
    <div class="container d-flex justify-content-center flex-column align-items-center">
        <h1>SURVEYS</h1>
        <form method="post" action="{% url 'survey' %}">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" name="category" value="High School" class="btn btn-primary">High School</button>
            </div>
            <div class="form-group">
                <button type="submit" name="category" value="College" class="btn btn-primary">College</button>
            </div>
            <div class="form-group">
                <button type="submit" name="category" value="Graduated" class="btn btn-primary">Graduated</button>
            </div>
        </form>
    </div>
</section>
{% endblock content %}